p{
    background-color: aqua;font-style: oblique;
}
table{
    background-color: brown;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th{
    color: darkseagreen;
}
tr{
    color: chartreuse;
}
h1{
    color:darkmagenta
}